@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
.blockInformationLogement {
    color: #ff6060;
    width: 80%;
    margin: auto;
}
.informationLogementHost {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.informationLogement {
    color: #ff6060;
  }
.titleLogement {
    width: 80%;
    margin-top: 10px;
}
.host {
    margin-top: 10px;
}
.photoPrenom {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.hostPicture {
    height: 50px;
    border-radius: 100px;
}
@media screen and (max-width: 767px) {
.informationLogementHost {
    display: flex;
    flex-direction: column;
}
.hostDetail {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
}
.hostName {
    display: flex;
}
}