@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
.Header {
    display: flex;
    align-items: center;
    color: #ff6060;
    width: 80%;
    margin: 20px auto;
    position: relative;
}
.logored {
    width: 200px;
}
.link {
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.lienAccueil {
    color: #ff6060;
    text-decoration: underline;
}
.lienApropos {
    color: #ff6060;
    text-decoration: none;
}
nav { 
    display: flex;
}
.imageContainer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.imagesource {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.texteimagesource {
    position: absolute;
}
/*mobile*/
@media screen and (max-width: 767px) {
.logored {
    width: 100px;
}
.logoBanniere {
margin: auto;
width: 90%;
}
.imagesource {
    width: 90%;
    height: 150px;
}

}