@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
body {
    margin: 0;
}
.gallery {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    min-height: 100vh;
}
.gallery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Affiche les logements en trois colonnes */
    justify-items: center;
    border-radius: 25px;
    flex-grow: 1;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); /* Passe à deux colonnes sur les écrans plus petits */
    }
    
    @media (max-width: 767px) {
      padding: 15px 0;
      grid-template-columns: 1fr; /* Une colonne sur les écrans encore plus petits */
    }
  }


.bodyFicheLogement {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 40vh;
}
.blockDescriptionEquipements {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-grow: 1;
}
.descriptions {
    width: 45%;
}
.equipements {
    width: 50%;
}
.divRatings {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 767px) {
.html {
    min-width: 45vh;
}
.gallery_container {
    display: block;
}
}
    