.carousel {
    position: relative;
}
.img-carousel {
    display: none;
}
.img-carousel-active {
    display: block;
    width: 80%;
    margin: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}
.arrow-slide {
    position: absolute;
    width: 13px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
.arrow-slide-left {
    left: 12%;
}
.arrow-slide-right {
    right: 12%;
}
.slide-count{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}