a {
    text-decoration: none;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(246, 246, 246, 1);
    background-color: rgba(246, 246, 246, 1);
    border-radius: 10px;
    width: 80%;
    margin: 30px auto;
}
.block1, .block2 {
    display: flex;
}
.block {
    display: flex;
    flex-grow: 1;
    border: 1px solid #ff6060;
    background: #ff6060;
    border-radius: 10px;
    height: 300px;
    margin: 20px;
    width: 480px;
    position: relative;
}
.textblock {
    position: absolute;
    color: white;
    margin-left: 10px;
    bottom: 0;
}
/*mobile*/
@media screen and (max-width: 767px) {
.block1, .block2 {
    display: flex;
    justify-content: center;
}
.block {
    flex: 1;
    width: auto;
    margin: 25px;
}
}
