a {
    text-decoration: none;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(246, 246, 246, 1);
    background-color: rgba(246, 246, 246, 1);
    border-radius: 10px;
    width: 80%;
    margin: 30px auto 30px auto;
}
.block1, .block2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.block {
    display: flex;
    border: 1px solid #ff6060;
    background: #ff6060;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    height: 300px;
    width: 230px;
}
.textblock {
    margin-top: auto;
    margin-left: 10px;
    color: white;
}
/*mobile*/
@media screen and (max-width: 767px) {
.block1 {
    display: flex;
    flex-direction: column;

}
.block2 {
    display: flex;
    flex-direction: column;
}
.block {
    width: 90%;
    margin: 20px auto;
}
}
