.divimgcarrousel {
    display: flex;
    justify-content: center;
    position: relative;
}
.imgcarrousel {
    width: 80%;
    height: 300px;
}
.carousel-arrow {
    position: absolute;
    z-index: 1;
}
.carousel-next-arrow {
    position: absolute;
    z-index: 1;
}
.thumb {
    display: none;
}
.animated {
    display: none;
}