.descriptionEquipements .styledescription {
    cursor: pointer;
  }
  
  .descriptionEquipements .menuDepliant {
    display: none;
  }
  
  .descriptionEquipements .menuDepliant.visible {
    display: block;
  }
  
  